h1{
    margin: 0;
    height: 30px;
    padding-top: 10px;
    font-size: 22px;
}
.FREE{
    line-height: 0.80%;
    padding: 0px;
    margin: 2px;
}
button{
    padding: 15px;
}
ul {
    padding-left: 20px;
}
