@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    font-family: Oswald;
    text-transform: capitalize;
    padding: 0px;
    margin: 0px;
}
.head{
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: brown;
    /* border: 3px solid white ; */
    border-radius: 1px;
    background-image: url('./10.webp');
    height: 250px;
    font-family: "Marcellus SC", serif; 
    padding-top: 110px;
    background-size: cover;
    
}
.box{
    width: 250px;
    border: 1px solid rgb(219, 223, 16);
    padding: 40px;
    margin: 20px;
    height: 350px;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color :antiquewhite; */
    /* background-color: black; */
    background-color: white;

}
.container{
    display: flex;
    margin: 65px;
}
.container2{
    display: flex;
    margin: 65px;
}
.body{
    background-image: url('./netflix.jpg');
    

}
.img{
    background-image: url('./jawas1.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img1{
    background-image: url('./starwars2.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img2{
    background-image: url('./images3.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img3{
    background-image: url('./images6.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img4{
    background-image: url('./images7.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img5{
    background-image: url('./images4.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img6{
    background-image: url('./The_Godfather\,_The_Game\ 9.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;
}
.img7{
    background-image: url('./images10.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    margin: -26px;
    border-radius: 20px;

}
.title1 {
     text-align: center;
     padding: 32px;

}
.title2 {
    text-align: center;
    padding: 32px;

}
.title3 {
    text-align: center;
    padding: 32px;

}
.title4 {
    text-align: center;
    padding: 32px;

}
.title5 {
    text-align: center;
    padding: 32px;

}
.title6 {
    text-align: center;
    padding: 32px;

}
.title7 {
    text-align: center;
    padding: 32px;

}
.title8 {
    text-align: center;
    padding: 32px;

}
.Btn{
    padding: 10px 15px;
    border-radius: 16px;
    background-color: #d8f90e;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.footer1{
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    color: white;
    border-radius: 1px;
    background-color: black;
    height: 231px;
}
.p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 19px;
}
.p1{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    background-image: linear-gradient(to right,brown,brown);
}








